target
.env
.env.sh
.vscode
.idea
.local
.DS_Store
Changes.md
nightly-changes.md
app/packages/rust_sdk/**/libacter.a
native/acter/src/api_generated.rs
native/acter/bindings.h
native/acter/bindings.dart
