[workspace]
members = [
  "native/*",
  "util/mr_minutes"
]

default-members = ["native/acter"]

[workspace.dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "a515bc8f03a9f008acf2c4d02687a66fb497c604"
default-features = false
features = ["experimental-sliding-sync"]

[workspace.dependencies.matrix-sdk-base]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "a515bc8f03a9f008acf2c4d02687a66fb497c604"
default-features = false

[workspace.dependencies.matrix-sdk-sqlite]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "a515bc8f03a9f008acf2c4d02687a66fb497c604"
default-features = false
features = ["crypto-store", "state-store"]

[workspace.dependencies.matrix-sdk-ui]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "a515bc8f03a9f008acf2c4d02687a66fb497c604"
default-features = false
features = ["e2e-encryption"]

[workspace.dependencies.ruma]
version = "0.9.2"
features = ["client-api-c", "compat-upload-signatures", "compat-user-id", "compat-arbitrary-length-ids", "unstable-msc3401"]

[workspace.dependencies.ruma-common]
version = "0.12.0"

[workspace.dependencies.ruma-events]
version = "0.27.7"

[workspace.dependencies.ruma-macros]
version = "0.12.0"

[workspace.dependencies]
strum = { version = "0.24.1", features = ["derive"] }

[profile.release]
panic = "unwind"
opt-level = 2
lto = true
codegen-units = 1
strip = true  # Automatically strip symbols from the binary.