[workspace]
members = [
  "native/*",
]

default-members = ["native/acter"]

[workspace.dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "645af31c59c9310f822dabae87166c0ea7d29bd5"
default-features = false

[workspace.dependencies.matrix-sdk-base]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "645af31c59c9310f822dabae87166c0ea7d29bd5"
default-features = false

[workspace.dependencies.matrix-sdk-sqlite]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "645af31c59c9310f822dabae87166c0ea7d29bd5"
default-features = false
features = ["crypto-store", "state-store"]

[workspace.dependencies.matrix-sdk-ui]
git = "https://github.com/matrix-org/matrix-rust-sdk"
rev = "645af31c59c9310f822dabae87166c0ea7d29bd5"
default-features = false
features = ["e2e-encryption", "experimental-sliding-sync"]

[workspace.dependencies.ruma]
git = "https://github.com/ruma/ruma"
rev = "854d8076eff1c5b6454c42e4309b1b070b815893"

[workspace.dependencies]
async-broadcast = "0.5"

[profile.release]
panic = "unwind"
opt-level = 2
lto = true
codegen-units = 1
strip = true  # Automatically strip symbols from the binary.