[package]
name = "effektio-core"
authors = [ "ben@effektio.org" ]
version = "0.1.0"
edition = "2021"
rust-version = "1.58"
description = "Core types and features of the effektio app"
homepage = "https://effekto.org"
repository = "https://github.com/effektio/effektio"
license-file = "../../LICENSE.txt"

[features]
with-mocks = ["fake", 'rand']

[dependencies]
serde = "1.0.136"
serde_repr = "0.1"
csscolorparser = { version = "0.5.0", features = ["serde"] }
chrono = {version = "0.4", default-features = false, features = ["serde"]}
chrono-tz = { version = "0.5", default-features = false, features = ["serde"] }
url = { version = "2.2.2", features = ["serde"] }
anyhow = "1.0.53"
bincode = "1.3.3"
futures-signals = "0.3.28"

# with-mocks
fake = { version = "2.4", optional = true, features = ["derive"] }
rand = { version = "0.8", optional = true }

[dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false

[dependencies.matrix-sdk-base]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false

[dependencies.ruma]
version = "0.6.1"
features = [
    "events",
    "client-api-c",
    "compat",
    "rand",
    "unstable-msc2677", 
    "unstable-msc2448"
]

[dev-dependencies]
serde_json = "1.0.78"
tokio = { version = "1", features = ["full", "rt"] }
assert_matches = "1.5.0"

[dev-dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
features = ["rustls-tls"]
default-features = false