[package]
name = "effektio-core"
authors = [ "ben@effektio.org" ]
version = "0.1.0"
edition = "2021"
rust-version = "1.58"
description = "Core types and features of the effektio app"
homepage = "https://effekto.org"
repository = "https://github.com/effektio/effektio"
license-file = "../../LICENSE.txt"

[features]
with-mocks = ["fake", 'rand']

[dependencies]
assign = "1.1.1"
chrono = {version = "0.4", default-features = false, features = ["serde"]}
chrono-tz = { version = "0.5", default-features = false, features = ["serde"] }
csscolorparser = { version = "0.5.0", features = ["serde"] }
serde = "1.0.136"
serde_json = "1.0.82"
serde_repr = "0.1"
url = { version = "2.2.2", features = ["serde"] }

# with-mocks
fake = { version = "2.4", optional = true, features = ["derive"] }
rand = { version = "0.8", optional = true }

[dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false

[dev-dependencies.matrix-sdk]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
features = ["rustls-tls"]
default-features = false