[package]
name = "acter-core"
authors = [ "ben@acter.global" ]
version = "0.1.0"
edition = "2021"
rust-version = "1.58"
description = "Core types and features of the acter app"
homepage = "https://effekto.org"
repository = "https://github.com/acterglobal/a3"
license-file = "../../LICENSE.txt"

[features]
templates = ["toml", "minijinja", "indexmap", "tokio-retry"]

[dependencies]
async-broadcast = { workspace = true }
async-recursion = "1"
chrono = {version = "0.4", default-features = false, features = ["serde", "clock"]}
chrono-tz = { version = "0.5", default-features = false, features = ["serde"] }
csscolorparser = { version = "0.5.0", features = ["serde"] }
dashmap = "5.4.0"
derive-getters = "0.2.0"
derive_builder = "0.11.2"
enum_dispatch = "0.3.10"
futures = "0.3.24"
ruma-macros = { workspace = true }
serde = "1.0.136"
serde_json = "1.0.82"
serde_repr = "0.1"
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0"
tracing = "0.1.37"
url = { version = "2.2.2", features = ["serde"] }

# templates
toml = { version = "0.7.2", optional = true, features = ["preserve_order"] }
minijinja = { version = "0.30.5", optional = true, features = ["builtins"] }
indexmap = { version = "1.9.2", optional = true }
async-stream = { version = "0.3.4" }
tokio-retry = { version = "0.3.0", optional = true }

[dependencies.matrix-sdk]
workspace = true
default-features = false

[dev-dependencies]
env_logger = { version = "0.10.0" }
tokio = { version = "1", features = ["rt", "macros"]}
tracing = { version = "0.1.37", default-features = false, features = ["log"] }
anyhow = "1.0.69"

[dev-dependencies.matrix-sdk]
workspace = true
features = ["rustls-tls"]
default-features = false

[dev-dependencies.matrix-sdk-base]
workspace = true
default-features = false

