name: acter
description: Your privacy-first social Organizing App

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.0.1+1

environment:
  sdk: ">=3.1.0"
  flutter: ^3.10.0

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  # UI
  flutter_adaptive_scaffold: ^0.1.0
  atlas_icons: ^0.0.12
  # stories_editor:
  #   path: "../../flutter_stories_editor"
    # git:
    #   url: https://github.com/acterglobal/flutter_stories_editor.git
  flutter_chat_ui: ^1.6.9
  flutter_chat_types: ^3.3.2
  flutter_staggered_grid_view: ^0.7.0
  flutter_svg: ">=1.0.0"
  flutter_link_previewer: ^3.0.1
  bubble: ^1.2.1
  swipe_to: ^1.0.2
  image_picker: ^1.0.0
  cross_file_image: ^1.0.0
  overlay_support: ^2.1.0
  flutter_keyboard_visibility: ^5.4.1
  expandable_text: ^2.3.0
  cached_network_image: ^3.2.1
  flutter_mentions:
    git:
      url: https://github.com/gtalha07/flutter_mentions.git
  flutter_matrix_html:
    git:
      url: https://github.com/acterglobal/flutter_matrix_html.git
  flutter_slidable: ^3.0.0
  timelines: ^0.1.0
  photo_view: ^0.14.0
  quds_popup_menu: ^0.0.1+1
  acter_avatar:
    # path: "../../acter-avatar"
    git:
      url: https://github.com/acterglobal/acter-avatar
  table_calendar: ^3.0.9
  omni_datetime_picker: ^1.0.9
  flutter_easyloading: ^3.0.5

  # Code Generation
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0
  freezed: ^2.3.3
  acter_flutter_sdk:
    path: packages/rust_sdk

  # State Management
  flutter_riverpod: ^2.4.4
  riverpod: ^2.3.6
  # Routing
  go_router: ^11.1.1

  # widgets
  settings_ui: '2.0.2'

  # Utilities
  path_provider: ^2.0.8
  path: ^1.8.3
  url_launcher: ^6.1.10
  file_picker: ^5.2.5
  emoji_picker_flutter: ^1.6.1
  connectivity_plus: ^4.0.1
  mime: ^1.0.2
  sprintf: ^7.0.0
  freezed_annotation: ^2.4.1
  http_parser: ^4.0.2
  flutter_custom_selector: ^0.0.3
  jiffy: ^6.2.1
  screenshot: ^2.1.0
  http: ^1.0.0
  string_validator: ^1.0.0
  shake: ^2.2.0
  crypto: ^3.0.2
  flutter_math_fork: ^0.7.1
  shared_preferences: ^2.2.0
  image_picker_for_web: ^3.0.1
  flutter_onboarding_slider: ^1.0.9
  riverpod_infinite_scroll: ^1.0.9
  infinite_scroll_pagination: ^3.2.0
  convert: ^3.1.1
  push: ^1.0.5
  logging: ^1.2.0
  args: ^2.4.2
  breadcrumbs: ^0.1.0
  device_info_plus: ^9.0.3
  great_list_view: ^0.2.3
  flutter_local_notifications: ^16.0.0
  email_validator: ^2.1.17

# FIXME keep until a new version has been published
dependency_overrides:
  flutter_secure_storage:
    git:
      url: https://github.com/mogol/flutter_secure_storage
      path: flutter_secure_storage
      ref: develop
  flutter_secure_storage_linux:
    git:
      url: https://github.com/mogol/flutter_secure_storage
      path: flutter_secure_storage_linux
      ref: develop

  flutter_secure_storage_web:
    git:
      url: https://github.com/mogol/flutter_secure_storage
      path: flutter_secure_storage_web
      ref: develop

  flutter_secure_storage_windows:
    git:
      url: https://github.com/mogol/flutter_secure_storage
      path: flutter_secure_storage_windows
      ref: develop
  flutter_secure_storage_macos:
    git:
      url: https://github.com/gnunicorn/flutter_secure_storage
      path: flutter_secure_storage_macos
      ref: patch-1

  flutter_secure_storage_platform_interface:
    git:
      url: https://github.com/mogol/flutter_secure_storage
      path: flutter_secure_storage_platform_interface
      ref: develop

  convenient_test:
    path: "../../flutter_convenient_test/packages/convenient_test"
  convenient_test_dev:
    path: "../../flutter_convenient_test/packages/convenient_test_dev"

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  icons_launcher: ^2.0.7
  flutter_lints: ^2.0.2
  build_runner: ^2.4.6
  convenient_test: ^1.3.1
  convenient_test_dev: ^1.3.1
  msix: ^3.7.0
  # mockito: ^5.4.2

icons_launcher:
  image_path: "assets/icon/logo.png"
  platforms:
    android:
      enable: true
    ios:
      enable: true
    macos:
      enable: true
    windows:
      enable: true
    linux:
      enable: true

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  generate: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icon/

  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter.ttf
    - family: NotoEmoji
      fonts:
        - asset: assets/fonts/Noto-COLRv1.ttf
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

msix_config:
  display_name: Acter
  publisher_display_name: Acter
  identity_name: 	47338Acter.Acter3
  publisher: CN=EBDFB2F4-DCCB-4267-8EBA-6FADD88EAC81
  msix_version: 0.0.0.1
  logo_path: .\macos\Runner\Assets.xcassets\AppIcon.appiconset\app_icon_512.png
  trim_logo: false
  start_menu_icon_path: .\macos\Runner\Assets.xcassets\AppIcon.appiconset\app_icon_512.png
  tile_icon_path: .\macos\Runner\Assets.xcassets\AppIcon.appiconset\app_icon_512.png
  icons_background_color: transparent
  architecture: x64
  capabilities: "internetClient,removableStorage"
