[package]
name = "effektio-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "3", features = ["derive", "cargo", "env", "unicode", "wrap_help"] }
dialoguer = "0.9.0"
log = "0.4.14"
flexi_logger = "0.22.3"
tokio = { version = "1", features = ["full"] }
anyhow = "1"
mime = '0.3.16'
term-table = "1.3.2"

[dependencies.effektio-core]
path = "../core" 

[dependencies.matrix-sdk]
# FIXME: temp to configure feature 
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false
features = ["native-tls"]