[package]
name = "effektio-cli"
version = "0.1.0"
edition = "2021"
rust-version = "1.58"
description = "CLI of effektio app to interact with an effektio setup"
homepage = "https://effekto.org"
repository = "https://github.com/effektio/effektio"
license-file = "../../LICENSE.txt"

[dependencies]
anyhow = "1"
clap = { version = "3", features = ["derive", "cargo", "env", "unicode", "wrap_help"] }
dialoguer = "0.9.0"
flexi_logger = { version = "0.22.5", features = ["use_chrono_for_offset"] }
futures = { version = "0.3.21" }
log = "0.4.14"
mime = "0.3.16"
term-table = "1.3.2"
tokio = { version = "1", features = ["full", "time"] }

[dependencies.effektio-core]
path = "../core"

[dependencies.effektio]
path = "../effektio"
default-features = false

[dependencies.matrix-sdk]
# FIXME: temp to configure feature 
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false
features = ["rustls-tls"]

[dependencies.matrix-sdk-base]
git = "https://github.com/matrix-org/matrix-rust-sdk/"
default-features = false
