on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: Style

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  rust-style:
    runs-on: ubuntu-latest
    name: Rust Formatting
    steps:
      - uses: actions/checkout@v4
      - name: Install specific toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rust Format
        run: cargo fmt --all --check

  dart-style:
    name: Flutter Analyze
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path: ['app', 'packages/rust_sdk', 'packages/acter_trigger_auto_complete']
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29'
          channel: 'stable'

      - name: Generate env
        working-directory: ./app
        run: dart run enven

      - working-directory: ${{ matrix.path }}
        run: flutter analyze 
        name: lint ${{ matrix.path }}
