on:
  push:
    branches: [ main ]

name: Deploy App 

env:
  RELEASE: true

jobs:

  build-android:
    runs-on: ubuntu-latest
    name: Build Android App
    # FIXME: remove once tests don't fail
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
      - uses: Swatinem/rust-cache@v1
      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c
      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1
      - run: cargo make setup-android
      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'
      # - uses: actions-rs/cargo@v1
      #   name: Clippy
      #   with:
      #     command: clippy
      #     args: -p effektio --target aarch64-linux-android -- -D warnings
      # - uses: actions-rs/cargo@v1
      #   name: Test
      #   with:
      #     command: test
      #     args: -p effektio --target aarch64-linux-android
      - name: Build Android FFI
        run: cargo make --profile release android
      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code  app/packages/rust_sdk/lib/effektio_flutter_sdk_ffi.dart
      # FIXME: tests are not set up to work yet
      # - run: flutter --pub test
      #   working-directory: ./effektio_flutter_sdk
      #   name: Testing SDK
      # # FIXME: tests are not set up to work yet
      # - run: flutter --pub test
      #   name: Testing App
      #   working-directory: ./app
      - run: flutter build appbundle --release
        working-directory: ./app
      # - run: flutter build appbundle
      #   working-directory: ./app

  build-ios:
    runs-on: macos-latest
    name: Build iOS App
    # FIXME: remove once tests don't fail
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1
      - uses: Swatinem/rust-cache@v1
      - run: cargo make setup-ios
      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'
      # - uses: actions-rs/cargo@v1
      #   name: Clippy
      #   with:
      #     command: clippy
      #     args: -p effektio --target x86_64-apple-ios -- -D warnings
      # - uses: actions-rs/cargo@v1
      #   name: Test
      #   with:
      #     command: test
      #     args: -p effektio --target x86_64-apple-ios
      - name: Build iOS FFI
        run: cargo make --profile release  ios
      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code  app/packages/rust_sdk/lib/effektio_flutter_sdk_ffi.dart
      # FIXME: tests are not set up to work yet
      # - run: flutter --pub test
      #   working-directory: ./effektio_flutter_sdk
      #   name: Testing SDK
      # # FIXME: tests are not set up to work yet
      # - run: flutter --pub test
      #   name: Testing App
      #   working-directory: ./app
      - run: flutter build ios --release --no-codesign
        working-directory: ./app
