on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: App

env:
  RELEASE: true

jobs:

  cancel-others:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  rust:
    runs-on: ubuntu-latest
    name: Rust Integration Tests
    continue-on-error: true
    services:
      synapse:
        image: "lightyear/effekio-synapse-ci:latest"
        volumes:
          - synapse-data:/data
        ports: 
          - 8008:8008
          - 8009:8009
          - 8448:8448
    steps:
      - uses: actions/checkout@v2

      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1

      - name: Create matrix admin user
        uses: addnab/docker-run-action@v3
        with:
          image: "lightyear/effekio-synapse-ci:latest"
          options: -v synapse-data:/data --link synapse --entrypoint="/bin/bash -c"
          run: register_new_matrix_user -u admin -p admin -a -c /data/homeserver.yaml http://synapse:8008

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:${{ job.services.synapse.ports['8008'] }}

      - name: run cargo integration tests
        env:
          HOMESERVER: "http://localhost:${{ job.services.synapse.ports['8008'] }}"
        run: cargo test -p effektio -- --ignored

  flutter:
    runs-on: ubuntu-latest
    name: Flutter Integration Tests
    continue-on-error: true
    services:
      synapse:
        image: "lightyear/effekio-synapse-ci:latest"
        volumes:
          - synapse-data:/data
        ports: 
          - 8008:8008
          - 8009:8009
          - 8448:8448
    steps:
      - uses: actions/checkout@v2

      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@v1

      - uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c

      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1

      - name: Rust Android Setup
        run: cargo make setup-android

      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'

      - name: Build Native
        run: cargo make --profile release android-dev

      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code  effektio_flutter_sdk/lib/effektio_flutter_sdk_ffi.dart

      - name: Create matrix admin user
        uses: addnab/docker-run-action@v3
        with:
          image: "lightyear/effekio-synapse-ci:latest"
          options: -v synapse-data:/data --link synapse --entrypoint="/bin/bash -c"
          run: register_new_matrix_user -u admin -p admin -a -c /data/homeserver.yaml http://synapse:8008

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:${{ job.services.synapse.ports['8008'] }}

      - name: Run integration testss on Android emulator
        uses: malinskiy/action-android/emulator-run-cmd@release/0.1.1
        with:
          cmd: flutter drive --driver=test_driver/integration_test.dart integration_test/*  --dart-define DEFAULT_EFFEKTIO_SERVER=http://localhost:${{ job.services.synapse.ports['8008'] }}
          api: 28
          tag: default
          abi: x86
