on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: Integration Tests

jobs:
  cancel-others:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  rust:
    runs-on: ubuntu-latest
    name: Rust
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - uses: michaelkaye/setup-matrix-synapse@main
        with:
          uploadLogs: false
          httpPort: 8008
          disableRateLimiting: true
          customConfig: |
            allow_guest_access: true

      - uses: rui314/setup-mold@v1
        name: "Setup mold linker"

      - uses: Swatinem/rust-cache@v1

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:8008
        env:
          EFFEKTIO_SERVERNAME: "localhost"

      - name: run cargo integration tests
        env:
          HOMESERVER: "http://localhost:8008"
          CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: "clang"
          CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUSTFLAG: -C link-arg=-fuse-ld=/usr/local/bin/mold
        run: cargo test -p effektio-test -- --nocapture

  flutter-desktop:
    runs-on: ubuntu-latest
    name: Flutter Desktop
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2

      - name: Install extra deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y  ninja-build

      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1

      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - uses: michaelkaye/setup-matrix-synapse@main
        with:
          uploadLogs: false
          httpPort: 8118
          disableRateLimiting: true
          customConfig: |
            allow_guest_access: true

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:8118/
        env:
          EFFEKTIO_SERVERNAME: "localhost"

      - name: Build Native
        run: cargo make --profile release desktop

      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code app/packages/rust_sdk/lib/effektio_flutter_sdk_ffi.dart

      - name: Run flutter integration tests
        working-directory: app
        run: |
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          flutter test -d linux integration_test/* --dart-define DEFAULT_EFFEKTIO_SERVER=http://localhost:8118/ --dart-define DEFAULT_EFFEKTIO_DOMAIN=ds9.effektio.org

  flutter-ios:
    runs-on: macos-latest
    name: iOS
    if: github.ref == 'refs/heads/main'
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2

      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1

      - name: Rust Android Setup
        run: cargo make setup-ios

      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - uses: michaelkaye/setup-matrix-synapse@main
        with:
          uploadLogs: false
          httpPort: 8118
          disableRateLimiting: true
          customConfig: |
            allow_guest_access: true

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:8118/
        env:
          EFFEKTIO_SERVERNAME: "localhost"

      - name: Build Native
        run: cargo make --profile release ios

      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code app/packages/rust_sdk/lib/effektio_flutter_sdk_ffi.dart

      - uses: futureware-tech/simulator-action@v1
        with:
          model: 'iPhone 12'

      - name: Run flutter integration tests
        working-directory: app
        run: flutter test -d ios integration_test/*  --dart-define DEFAULT_EFFEKTIO_SERVER=http://10.0.2.2:8118/

  flutter-android:
    runs-on: macos-latest
    name: Android
    if: github.ref == 'refs/heads/main'
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2

      - name: Install supported toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-make
        uses: davidB/rust-cargo-make@v1

      - name: Rust Android Setup
        run: cargo make setup-android

      - uses: subosito/flutter-action@v2
        name: "Set up flutter"
        with:
          channel: 'stable'

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - uses: michaelkaye/setup-matrix-synapse@main
        with:
          uploadLogs: false
          httpPort: 8118
          disableRateLimiting: true
          customConfig: |
            allow_guest_access: true

      - name: Initialize e2ee mock data
        run: cargo run -p effektio-cli -- mock http://localhost:8118/
        env:
          EFFEKTIO_SERVERNAME: "localhost"

      - name: Build Native
        run: cargo make --profile release android

      - name: Ensure ffi-interface is up to date
        run: git diff --exit-code effektio_flutter_sdk/lib/effektio_flutter_sdk_ffi.dart

      - name: Run integration tests on android
        uses: reactivecircus/android-emulator-runner@v2
        continue-on-error: true
        with:
          api-level: 28
          arch: x86
          profile: Nexus 5X
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          emulator-build: 7425822
          script: |
            flutter test -d android integration_test/*  --dart-define DEFAULT_EFFEKTIO_SERVER=http://10.0.2.2:8118/

  report-issue:
    runs-on: ubuntu-latest
    # file an error if this failed on `main` post-merge
    if: ${{ github.ref == 'refs/heads/main' && failure() }}
    name: Report issue
    needs:
      - flutter-desktop
      - flutter-android
      - flutter-ios
    steps:
      - name: Create Issue on Failed workflow
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Mobile integration tests failed on main
          body: |
            ### Mobile Integration tests failed on main
            Workflow name - `${{ github.workflow }}`
            Job -           `${{ github.job }}`
            status -        `${{ job.status }}`
            [Failed Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
          assignees: gnunicorn
