on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: Style

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  rust-style:
    runs-on: ubuntu-latest
    name: Rust Formatting
    steps:
      - uses: actions/checkout@v2
      - name: Install specific toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2023-04-10
          override: true
          components: rustfmt,clippy
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        name: Rust Format
        with:
          command: fmt
          args: --all --check

  dart-style:
    name: Flutter Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.12'
          channel: 'stable'

      - name: version
        run: flutter --version

      - working-directory: app
        run: flutter analyze
        name: lint app
